body {
    position: relative;
    background-color: #E5E5E5;
    min-height: 2800px;
}


#logo {
    width: 120px;
    height: 48px;
    position: fixed;
    top: 40px;
    left: 40px;
}

.textoATransformar {
    position: fixed;
    background-color: #E5E5E5;
    color: darkblue;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    border: none;
    outline: none;
    left: 240px;
    top: 168px;
    width: 700px;
    height: 650px;
}

.textoATransformar::placeholder {
    color: darkblue;
    font-weight: 400;
}

.texto-convertido {
    display: none;
}

.texto-convertido-estilo {
    position: fixed !important;
    top: 72px !important;
    padding: 20px !important;
    display: flex;
    text-align: left !important;
    align-items: start !important;
    justify-content: start !important;
    font-family: "Inter", sans-serif;
    font-size: 20px !important;
    font-weight: 300 !important;
    border: none;
    outline: none;
    height: 550px !important;
    width: 350px !important;

}

.aclaraciones {
    font-weight: 400;
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    position: fixed;
    left: 240px;
    top: 700px;
    font-size: 12px;

}

#icono-aclaracion {
    color: gray;
    font-weight: 400;
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.botones {
    display: flex;
    justify-content: space-between;
    position: fixed;
    gap: 24px;
    width: 680px;
    left: 240px;
    top: 750px;
}

.botonCopiar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 328px;
    height: 67px;
    color: darkblue;
    background-color: #D8DFE8;
    border-radius: 24px;
    border-color: darkblue;
    position: fixed;
    top: 750px;
    left: 1032px;

}

.btn-encriptar {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 328px;
    height: 67px;
    color: #D8DFE8;
    background-color: darkblue;
    font-weight: 300;
    border-radius: 24px;
}

.btn-desencriptar {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 328px;
    height: 67px;
    color: darkblue;
    background-color: #D8DFE8;
    font-weight: 300;
    border-radius: 24px;
    border-color: darkblue;
}

.texto-enc-des {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40px;
    left: 1000px;
    width: 400px;
    height: 850px;
    background-color: white;
    border-radius: 32px;
    text-align: center;


}


#muneco {
    width: 336px;
    height: 304px;
}

.texto-enc-des-titulo {
    width: 336px;
    font-family: "Inter", sans-serif;

}

.texto-enc-des-titulo-1 {
    font-size: 24px;
    font-weight: 500;
    color: gray;
}

.texto-enc-des-parrafo {
    font-size: 16px;
    font-weight: 400;
    color: gray;
}

@media (max-width: 768px) {

    /* Aquí van los estilos que quieres aplicar a pantallas con un ancho menor o igual a 768 píxeles */
    #logo {
        width: 120px;
        height: 48px;
        position: relative;
        top: 40px;
        left: 0px;
    }

    .textoATransformar {
        position: relative;
        background-color: #E5E5E5;
        color: darkblue;
        font-weight: 400;
        font-family: "Inter", sans-serif;
        font-size: 32px;
        border: none;
        outline: none;
        left: 40px;
        top: 240x;
        width: 600px;
        height: 480px;
    }

    .botones {
        display: flex;
        justify-content: space-between;
        position: relative;
        gap: 24px;
        width: 600px;
        left: 50px;
        top: 150px;
    }

    .aclaraciones {
        font-weight: 400;
        font-family: "Inter", sans-serif;
        display: flex;
        align-items: center;
        position: relative;
        left: 60px;
        top: 130px;
        font-size: 12px;

    }

    #muneco {
        display: none;
    }

    .contenedorPrincipal {
        display: flex;
        position: relative;
        flex-direction: column !important;
    }

    .texto-enc-des {
        display: flex;
        flex-direction: column;
        position: relative;

        left: 40px;
        top: 200px;
        width: 600px;
        height: 400px;

    }

    .texto-enc-des-titulo {
        width: 500px;
        font-family: "Inter", sans-serif;

    }

    .texto-convertido-estilo {
        left: 5px;
        position: relative !important;
        top: 0px !important;
        padding: 15px !important;
        display: flex;
        text-align: left !important;
        align-items: start !important;
        justify-content: start !important;
        font-family: "Inter", sans-serif;
        font-size: 20px !important;
        font-weight: 300 !important;
        border: none;
        outline: none;
        height: 400px !important;
        width: 600px !important;
        border-radius: 32px;

    }

    .botonCopiar {
        position: absolute;
        display: flex;
        left: 0px;
        top: 315px;
        align-items: center;
        justify-content: center;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        width: 600px;
        height: 67px;
        color: darkblue;
        background-color: #D8DFE8;
        border-radius: 24px;
        border-color: darkblue;


    }


}